[submodule "nodejs/tradingeconomics-js"]
	path = nodejs/tradingeconomics-js
	url = https://github.com/tradingeconomics/tradingeconomics-js.git
[submodule "nodejs/--name"]
	path = nodejs/--name
	url = https://github.com/IsraelBanez/tradingeconomics-js.git
[submodule "nodejs/trading"]
	path = nodejs/trading
	url = https://github.com/IsraelBanez/tradingeconomics-js.git
